*{
    margin: 0;
    padding: 0;
     
}
body{
     background-color: rgb(235, 244, 244);
    background-size: cover;
    width: 100%;

}
.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
   
}
.nav-sec{
    display: flex;
    background-color: rgb(41, 131, 134);
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 90%;
    position: fixed;
    
    border-radius: 8px;
     
}

.nav-sec h1{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
     
}
.nav-sec h1:hover{
    color:  rgb(61, 242, 51);
    font-size: 32px;
}
 
.nav-sec a{
    text-decoration: none;
}

.nav-items{
    display: flex;
    list-style: none;
     
}

@media screen and (max-width:756px) {
     .link{
        display: none;
     }
}
.nav-items li a{
    margin-right: 40px;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.nav-items li a:hover{
    color:  rgb(61, 242, 51);
    font-size: 22px;
}
.main-sec{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 90vh;
    margin-top: 100px;
    width: 90%;
}

.main-sec h1{
    font-family: sans-serif;
    font-size: 35px;
    width: 600px;
    color:black;
    margin-bottom: 35px;
}
@media screen and (max-width:756px) {
    .main-sec h1{
        font-size: 22px;
    }
}
.home-input-label{
    font-family: sans-serif;
    font-size: 20px;
    width: 500px;
    color:rgb(45, 44, 44);
    margin-right: 0;
    padding-right: 0;
    margin-left: 50px;
    
    
}
@media screen and (max-width:756px) {
    .home-input-label{
        font-size: 15px;
    }
}
.input-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-input{
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    outline: none;
    height: 26px;
    width: 150%;

}
.home-input:hover{
    border:1px solid rgb(19, 96, 101) ;
}

.serv-section{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap:wrap;
    margin-top: 50px;     
    margin-left:150px;

}
@media screen and (max-width:756px) {
    .serv-section{
        flex-direction: column;
    }
}
.serv-section div a{
    text-decoration: none;
}
.services{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
     
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.services:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.services img {
    height: 260px;
    width:300px;    
}
.services h1{
    font-size: 24px;
    margin-bottom: 0;
}
.city{
    font-size: 18px;
    margin-bottom: 6px;
}

 
.about-sec{
    width: 80%;
    height: 70vh;
    line-height: 2;
    margin: auto; 
    
}
.about-sec h1{
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(31, 75, 77);
    margin-bottom: 5px;
}
.about-sec p,li{
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(56, 57, 57);
    margin-left: 40px;
}
 
.about-sec h2{
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(61, 237, 38);
    margin-left: 10px;
}
.about-main{
    padding-top: 50px;
}
.icon{
    height: 60px;
    width: 60px;
    border-radius: 8px;
}
.property-img{
    height: 190px;
    width: 230px;
    border-radius: 8px;
    margin-right: 15px;
}
.property-img-sec{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
 
.login-sec{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.login-sec h1{
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(6, 52, 54);
    margin-bottom: 20px;
}
.mainComp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 400px;
     box-shadow: 0  1px 3px 5px rgba(0, 0, 0, 0.1);
     border-radius: 30px;
     background-color: white;
    
}

.mainComp1{
    text-align: center;
    width: 400px;
    border: 1px solid rgb(19, 76, 91);
    border-radius: 30px;
   margin-top: 50px;
   padding: 20px;
 
}
.mainComp label{
   align-self: flex-start;
   margin-left: 80px;
   margin-top: 25px;
   margin-bottom: 10px;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: 600;
}
.mainComp input{
   padding: 10px 10px;
   width:220px;
   cursor: pointer;
   font-size: 16px;
   outline: none;
   border-radius: 5px;
   height: 25px;
   border: none;
   background-color: rgb(235, 244, 244);
}
.mainComp input:hover{
    border:1px solid rgb(19, 96, 101) ;
}
.mainComp button{
   background-color:  rgb(61, 242, 51);
   padding: 12px 15px;
   border: none;
   border-radius: 10px;
   color: white;
   width: 80px;
   margin-top: 20px;
   margin-bottom: 15px;
   cursor: pointer;
   outline: none;
}
figcaption{
    font-family: sans-serif;
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 2px;
}
.value{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color:rgb(61, 242, 51) ;
    padding: 10px;
    color: white;
    width: 100px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.rate{
    color: gold;
    font-size: 25px;
}
.property-list{
    list-style-type: none;
}
.address{
    color: rgb(22, 67, 145);
    cursor: pointer;
}
.address:hover{
    text-decoration: underline;    
}
.i{
    width: 160px;
}
/* property section */

.practices-sec{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    line-height: 1.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.property-details{
    display: flex;
    flex-direction: column;
     
}
 
.property-img-card{
    border-radius: 8px;
    height: 60vh;
    align-self: flex-end;
     
}
@media screen and (max-width:756px){
    .practices-sec div img{
        width: 150px;
        height: 40vh;
    }
}
.practices-sec div{
     
    margin-left: 150px;
}
.desc{
    color: rgb(160, 161, 161);
    width: 80%;
}
 
.back{

    margin-top: 0px;
    align-self: flex-start;
    width: 15px;
    font-size: 35px;
      margin-bottom: 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
}
.weather{
    display: flex;
   margin-left: 0px;
}
.Wheather-title{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.weather-i{
    height: 70px;
    width: 80px;
     
     
}
.weather-image-sec{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.weather-h3{
    font-size: 20px;
     
}
.addrees{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.error-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.error-page h1{
    font-family: sans-serif;
}

/* home container */

.home-container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.home-data-sec{
    width: 40%;
    height:40vh;
    align-self:center;
    margin-right: 80px;
    line-height: 1.5;
}

.home-data-sec h1{
    font-family: sans-serif;
    font-size: 35px;
    width: 600px;
    color:black;
    margin-bottom: 35px;
}
.home-data-sec p{
    font-family: sans-serif;
    font-size: 25px;
    width: 500px;
    color:rgb(92, 93, 92);
}
.home-data-sec button{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: ;
    padding: 10px;
    color: white;
    background-color:  rgb(61, 242, 51);
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
}
.home-data-sec button:hover{
    background-color:  rgb(32, 198, 43);
}
