<div class="login-sec">
    <h1>Login Page</h1>
    <div class="mainComp" >
        <label for="name">NAME : </label>
        <input type="text" ng-model="name" placeholder="Enter Your Name">
        <label for="name">AGE: </label>
        <input type="text" ng-model="age" placeholder="Enter Your Age">
        <label for="name">phone No: </label>
        <input type="text" ng-model="phone" placeholder="Enter Your Phone number">
        <button onclick="getSubmit()">Submit</button>
        <br>
        
    </div>
     
</div>
 